.header{
  display: flex;
  justify-content: center;
  background-color: rgb(4, 191, 54);
  margin: 0rem -35rem;
  color: whitesmoke;
  font-size: x-large;
  width: 180%;
}

.ToDo-List-container{
  display : flex;
  justify-content: center;
  align-items: flex-start;
  width: 80rem;
  /* border: 1px solid black; */
  min-height: 50rem;
  margin: 3rem;
}

.todo-form{
  /* border: 1px solid black; */
  display: flex;
  margin: 2rem;
  width:100%;
  font-size: 2rem;
  gap: 1rem;
  margin-bottom: 4rem;
}

.todo-form input:focus{
  outline: none;
}
.todo-form input{
  font-weight: 100;
  font-size: 3rem;
  border-radius: .5rem;
  border-style:groove;
  padding-left: 1rem;
  margin-left: 1rem;
}



.todo-form input::placeholder{
  font-size: 2rem;
}

.todo-form button:hover{
  background-color: rgb(152, 228, 228);
}

.todo-form button{
  background-color: rgb(152, 228, 228);
}

.todo-form button{
  border: 0px;
  background-color: rgb(106, 203, 203);
  width: 70px;
  border-radius: .5rem;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom:0.5rem ;
  color: aliceblue;
}

.task-div{
  background-color: rgb(230, 230, 230);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 85%; */
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.1rem .6rem rgb(158, 158, 158);
}

.todo-text{
  font-size:2.5rem;
}

.icons{
  display: flex;
  gap: 3rem;
  font-size: 3rem;
  cursor: pointer;
}

.complete{
 text-decoration: line-through;
 opacity: 0.5; 
 background-color: green;
}

.hide{
  display: none;
}